<%= render "shared/navigation_top" %>
<!-- Show all users -->
<p class="section_links">
	<span class="section_title">
	Users</span>
	&nbsp;|&nbsp;&nbsp;
	<%= link_to 'New User', new_user_path %> &nbsp;
</p>

<%= render 'tables' %>
<%= render 'pagination' %>
