<!-- Automatic List -->
<% if @task_list then %>
	<h3><%= link_to @task_list.title, task_list_path(@task_list) %></h3>
	<% if @tasks.count > 0 then %>
	<ul>
		<%= div_for @tasks do |task| %>
			<li><%= task.title %></li>
		<% end %></ul>
	<% end %>
<%= link_to 'New Task', "task_lists/1/tasks/new" %>
<% else %>
	<h3>No Default Task List</h3>
<% end %>
<hr>
<p><a href="https://github.com/codegard1/log/issues">View Issues on Github</a></p>
