<!-- TO DO List -->
<div>
  <h4>To Do List / Wish List</h4>
  <ol>
    <li>Use buttons for actions instead of links</li>
    <li>Apply CSS to site to make it look less shitty<br>&nbsp; - in progress</li>
    <li>Quick-entry form at welcome#index</li>
    <li>validation for Assets and Users</li>
    <li>No duplications! (check for dupes on new entry</li>
    <li><em>done!</em> &nbsp; Make use of partials to reduce redundancy in views</li>
    <li>Unified Color Scheme / Visual Theme </li>
    <li><em>done!</em> &nbsp; universal navigation bars at top &amp; bottom </li>
    <li>Create an actual ToDo controller to track and modify this list, rather than use pure html</li>
  </ol>
</div>
 
