<h3>Log Lady 3.800b</h3>
<h4>Welcome to the index!</h4>
<hr>

<table> 
	<tr>
		<td width=“40%”>
			<%= render 'project_notes' %>
		</td>
		<td width=“60%”>
			<%= render 'todo_list' %>
		</td>
	</tr>
</table>
