<%= render 'shared/navigation_top' %>
<h2>Log Lady 3.786b</h2>
<h4>Welcome to the index!</h4>
<hr>

<table> 
	<tr>
		<td>
			<%= render 'project_notes' %>
		</td>
		<td>
			<%= render 'todo_list' %>
		</td>
	</tr>
</table>
