/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  font: normal 11pt Arial, sans-serif;
}

span.section_title {
  font: bold 18pt Georgia, serif ;
  
}

div#navigation_top {
	font: normal 14pt Arial, sans-serif;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	width: 100%;
	margin: -10px 0px 10px -10px;
	padding: 5px;
	border-bottom: 1px solid black;
}
p.section_links {
	font: normal 11pt Arial, sans-serif;
}

div#navigation_top a, p.section_links a {
	text-decoration: none;
	color: #333;
}

div#navigation_top a:hover, p.section_links a:hover {
	text-decoration: none;
	color: blue;
}

input, select {
  padding: 5px;
}

input#task_title, input#asset_title {
	width: 300px;
}
select {
	width: 200px;
}
