// Place all the styles related to the assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.asset {
	border: 1px solid #eee;
	padding: 0px;
	max-width: 400px;
	height: auto;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: 2.5em;
/*	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);*/
}
div.asset .title {
  
}
div.asset p, {
  padding-left: 1.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 1.5em;
  margin: 2px;
}

