// Place all the styles related to the assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.asset {
	border: 1px solid #eee;
	padding: 1em;
	max-width: 500px;
	min-width: 500px;
	height: auto;
	margin-top: .5em;
	margin-bottom: .5em;
}
