// Place all the styles related to the asset_type controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.asset_type {
	max-width: 400px;
	margin-left: 2em;
	font-size: 14pt;
}
