// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.user {
	border: 1px solid #eee;
	padding: 1em;
	width: auto;
	height: auto;
	margin-top: .5em;
	margin-bottom: .5em;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	border-radius: 3px
}
