table {
	display: block;
	width: 800px;

	td {
		display: table-cell;
  		vertical-align: top; 
	}
}

a {
	font: normal 14pt Arial, sans-serif;
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: underline;
	color: blue;
}
